In [1]:
%load_ext blackcellmagic

In [5]:
import numpy as np
import pandas as pd
from io import StringIO

from pandas import DataFrame
import pandas._testing as tm


def test_read_csv_with_custom_date_parser(all_parsers):
    # GH36111
    def __custom_date_parser(time):
        time = time.astype(np.float_)
        time = time.astype(np.int_)  # convert float seconds to int type
        return pd.to_timedelta(time, unit="s")

    testdata = StringIO(
        """time e n h
        41047.00 -98573.7297 871458.0640 389.0089
        41048.00 -98573.7299 871458.0640 389.0089
        41049.00 -98573.7300 871458.0642 389.0088
        41050.00 -98573.7299 871458.0643 389.0088
        41051.00 -98573.7302 871458.0640 389.0086
        """
    )
    result = all_parsers.read_csv(
        testdata,
        delim_whitespace=True,
        parse_dates=True,
        date_parser=__custom_date_parser,
        index_col="time",
    )
    time = [41047, 41048, 41049, 41050, 41051]
    time = pd.TimedeltaIndex([pd.to_timedelta(i, unit="s") for i in time], name="time")
    expected = DataFrame(
        {
            "e": [-98573.7297, -98573.7299, -98573.7300, -98573.7299, -98573.7302],
            "n": [871458.0640, 871458.0640, 871458.0642, 871458.0643, 871458.0640],
            "h": [389.0089, 389.0089, 389.0088, 389.0088, 389.0086],
        },
        index=time,
    )

    tm.assert_frame_equal(result, expected)

In [13]:
# StringIO https://docs.python.org/ja/3.9/library/io.html#io.StringIO
# file object のように見えるオブジェクトを作成

testdata = StringIO(
        """time e n h
        41047.00 -98573.7297 871458.0640 389.0089
        41048.00 -98573.7299 871458.0640 389.0089
        41049.00 -98573.7300 871458.0642 389.0088
        41050.00 -98573.7299 871458.0643 389.0088
        41051.00 -98573.7302 871458.0640 389.0086
        """
    )
print(testdata.getvalue())
testdata.close()

time e n h
        41047.00 -98573.7297 871458.0640 389.0089
        41048.00 -98573.7299 871458.0640 389.0089
        41049.00 -98573.7300 871458.0642 389.0088
        41050.00 -98573.7299 871458.0643 389.0088
        41051.00 -98573.7302 871458.0640 389.0086

In [6]:
time = [41047, 41048, 41049, 41050, 41051]
time = pd.TimedeltaIndex([pd.to_timedelta(i, unit="s") for i in time], name="time")
expected = DataFrame(
    {
        "e": [-98573.7297, -98573.7299, -98573.7300, -98573.7299, -98573.7302],
        "n": [871458.0640, 871458.0640, 871458.0642, 871458.0643, 871458.0640],
        "h": [389.0089, 389.0089, 389.0088, 389.0088, 389.0086],
    },
    index=time,
)
expected

                          e            n         h
time
0 days 11:24:07 -98573.7297  871458.0640  389.0089
0 days 11:24:08 -98573.7299  871458.0640  389.0089
0 days 11:24:09 -98573.7300  871458.0642  389.0088
0 days 11:24:10 -98573.7299  871458.0643  389.0088
0 days 11:24:11 -98573.7302  871458.0640  389.0086

In [18]:
def __custom_date_parser(time):
    time = time.astype(np.float_)
    time = time.astype(np.int_)  # convert float seconds to int type
    return pd.to_timedelta(time, unit="s")

# __custom_date_parser(41047.00)
__custom_date_parser("41047.00")

AttributeError: 'str' object has no attribute 'astype'